doctype html 
html 
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        style
            include ../public/room.css

    body
        h2(id="logo") triki! 
        div(id="local-player" class="player-card")
            span(id="badge")
            div(id="local-player-name") Jugador 1 
        div(id="board")
        div(id="remote-player" class="player-card") Esperando a un jugador...
        div(id="cover")
        div(id="form")
            label(for="username") ¿cual es tu nombre?
            input(id="username" type="text" placeholder="juan" )
            button(id="submit") OK
    
    script(src='/public/jquery.min.js')
    script. 
        var ws;
        var playing = false;
        var myturn = false; 
        var enemy; 
        var playsWith; 

        $(function(){
            $("#submit").on('click', function(){

                $(this).remove(); 
                $('#form').append("<h4>Registrando Jugador</h4>");

                var msg = {
                    type:"register", 
                    username: $("#username").val()
                }

                ws = new WebSocket('ws://'+location.host);

                ws.addEventListener('open', function(){
                    console.log("socket connection open"); 
                    sendMessage(msg); 
                }); 

                ws.onmessage = function(msg){
                    var data = JSON.parse(msg.data); 
                    console.log("message received"); 
                    console.log(data); 
                    switch(data.type){
                        case "registerResponse":
                            registerResponse(data); 
                        break;
                        case "newPlayer":
                            populateNewPlayer(data); 
                        break;
                        case "playerLeft": 
                            alert("The other player left"); 
                            location.assign(location.origin); 
                        break; 
                        case "newFigure":
                            drawFigure(data); 
                        break; 
                    }
                }

            }); 
        }); 
        

        function registerResponse(data){
            if(data.success != true) {
                alert("there was a problem with your registration, please try again"); 
                location.assign(location.origin); 
            }
            // populate local player
            $('#local-player-name').html(data.username + " - "+data.playsWith); 
            $('#cover').css('display','none'); 
            $('#form').css('display','none'); 
            playsWith = data.playsWith; 
            //si hay un enemigo al registrarnos tenemos el segundo turno. 
            if(data.enemy){
                enemy = data.enemy; 
                $('#remote-player').html(data.enemy + " - "+ (data.playsWith == 'O' ? 'X':'O')); 
                myturn = false; 
                populateBoard(); 
            }
        }

        function populateNewPlayer(data){
            //si un jugador llega despues de nosotros, tenemos el primer turno
            $('#remote-player').html(data.username + " - "+ data.playsWith); 
            enemy = data.username; 
            myturn = true; 
            populateBoard(); 
        }

        function populateBoard(){
            if(myturn){
              updateBadge("juega!!!", '#fc3f3f'); 
               // alert("El juego va a empezar, es tu turno!"); 
            }else{
               // alert("El juego va a empezar, es el turno de" + enemy + "!"); 
               updateBadge("espera!!!", '#30a3e6');
            }

            var currentPad = 0; 
            var padInterval = window.setInterval(function(){
                console.log("setting pads");
                //si el currentPad es 9 quiere decir que ya se agregaron todos los pads. 
                if(currentPad==9) {
                    $('.pad').click(function(){
                        var taken = $(this).data("taken"); 
                        if(taken==0){
                            var index = $(this).data("index"); 
                            newFigure(index); 
                        }
                    });

                    clearInterval(padInterval)
                    return;
                } 

                var newPad = "<div class='pad "; // comienzo del pad
                if(currentPad==0) newPad += "top left"; 
                if(currentPad==1) newPad += "top center"; 
                if(currentPad==2) newPad += "top right"; 
                if(currentPad==3) newPad += "mid left"; 
                if(currentPad==4) newPad += "mid center"; 
                if(currentPad==5) newPad += "mid right"; 
                if(currentPad==6) newPad += "bot left"; 
                if(currentPad==7) newPad += "bot center"; 
                if(currentPad==8) newPad += "bot right"; 
                newPad += "' data-index='"+currentPad+"' data-taken='0'></div>"; //final del pad
                currentPad++;  
                $('#board').append(newPad); 
            }, 300); 

        }

        function drawFigure(data){
            $(".pad[data-index="+data.index+"]").html(data.playsWith); 
            //si hay un ganador
            if(data.winner != undefined){
                //y fui el ultimo que jugo, yo gane. 
                if(data.playsWith == playsWith){
                    alert("ganaste!!"); 
                }
                else{
                    alert("Gano "+enemy+" !!!!"); 
                }
                $('.pad').html(""); 
            }
            else if(data.tie){
                alert("Fue un empate!!!"); 
                $('.pad').html(""); 
            }

            if(data.playsWith != playsWith) {
                myturn = true;
                 updateBadge("juega!!!", '#fc3f3f'); 
            }else{
                updateBadge("espera!!!", '#30a3e6');
            }
        }

        function newFigure(index){
            if(myturn){
                var message = {type:"newFigure", index:index, playsWith:playsWith}; 
                sendMessage(message); 
                updateBadge("...", "#30a3e6");
                myturn=false; 
            }
            
        }

        function updateBadge(msg,color){
            $('#badge').html(msg); 
            $('#badge').css('background',color); 
        }

        function sendMessage(data){
            var jsonMessage = JSON.stringify(data);
            ws.send(jsonMessage);
        }