@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background: #eadf69;
    text-align:center;
    font-family: 'Roboto', sans-serif;;
}

#form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #eadf69;
    padding: 20px;
    border-radius: 12px;
}

#form button{
    font-size: 2em;
    padding: 5px 15px;
    border-radius: 6px;
    border: none;
    background: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all ease .15s; 
}
#form button:hover{
    color: #eadf69; 
    transform: scale(1.1,1.1);
}

#form label{
    font-size: 1.4em; 
    font-weight: bold;
}

#form input{
    padding: 12px;
    border-radius: 4px;
    border: none;
    margin: 11px;
    display: block;
}

#cover{
    content: ""; 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.6);
}

#logo {
    color: white;
    font-family: roboto;
    font-size: 10em;
    margin: auto;
    text-align: center;
    text-shadow: #000 10px 10px, #000 -10px -10px, 
    #000 10px -10px, #000 -10px 10px, #000 0px -10px;
    transform: rotate(-8deg); 
    width: 100%; 
    margin-bottom: .4em;
}

#board{
    position: relative; 
    width: 100%;
    border: solid 12px white;
    min-height: 20em;
    max-width: 20em;
    margin: 1em auto; 
    border-radius: 12px;
}

.pad{
    background: white;
    border-radius: 4px;
    width: 27%;
    height: 27%;
    position: absolute;
    font-size: 4em;
    overflow: hidden;
    font-weight: bold;

    cursor:pointer; 
    transition: all ease .1s; 
}

.pad:hover{
    transform: scale(1.1,1.1); 
}

.top{ top: 3% }
.mid{ top: 36% }
.bot{ top: 70% }

.left{ left: 3% }
.center{ left: 36% }
.right{ left: 70% }

.player-card{
    position: relative; 
    margin: auto;
    font-size: 2em;
    font-family: roboto;
    font-weight: bold;
    background: white;
    border-radius: 12px;
    padding: 10px;
    display: inline-block;
    min-width: 10em;
}

#badge{
    content: "...";
    position: absolute;
    right: -7px;
    top: -4px;
    background: #fc3f3f;
    padding: 7px 7px;
    border-radius: 4px;
    color: white;
    font-size: 0.5em;
}